body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .signup-btn {
    margin-left: 0 !important;
  }

  .hero-img {
    width: 50px;
  }

  .first-body-div {
    display: flex;
    flex-direction: row;
  }

  .footer-link-div > div {
    /* width: 70% !important; */
    font-size: 14px !important;
    margin-left: 7px !important;
    margin-right: 7px !important;
    display: grid !important;
    grid-template-columns: 50% 50% !important;
  }

  .footer-link-div > div > a {
    padding-left: 0 !important;
  }

  .footer-link {
    color: #757575 !important;
    text-decoration: none !important;
    margin-right: 5px !important;
    width: 100%;
    height: 35px;
    text-align: left !important;
  }

  .lang-footer-div {
    /* width: 70% !important; */
    margin-left: 7px !important;
    margin-right: 7px !important;
  }
}

@media only screen and (min-width: 600px) {
  .hero-img {
    width: 300px;
  }

  .first-body-div {
    display: flex;
    flex-direction: row;
    padding-bottom: 75px !important;
  }

  .page-img {
    width: 50%;
  }

  .footer-link-div > div {
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }

  .footer-link {
    color: #757575 !important;
    text-decoration: none !important;
    margin-right: 5px !important;
    width: 100%;
    height: 50px;
    text-align: left !important;
    padding-left: 0 !important;
  }

  .lang-footer-div {
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.top-section {
  background-color: #fffeee !important;
}

.nav-header {
  background-color: #fffeee !important;
  box-shadow: none !important;
}

.first-body-title {
  color: black;
  text-align: left;
}

.signin-btn {
  background-color: #fffeee !important;
  color: black !important;
}

.signup-btn {
  background-color: blueviolet !important;
}

.trial-btn {
  background-color: blueviolet !important;
}

.example-btn {
  text-decoration: underline !important;
  color: blueviolet !important;
}

.main-adv,
.rating-sec {
  display: flex;
  flex-direction: row;
}

.card-div {
  box-shadow: none !important;
}

.our-adv {
  display: flex !important;
  flex-direction: row;
}

.portfolio-body {
  display: flex !important;
  flex-direction: row;
  background-color: blueviolet !important;
  padding: 20px 20px 0 20px;
}

.portfolio-text {
  background-color: inherit !important;
  width: 50%;
}

.namecard-div {
  display: flex !important;
  flex-direction: row;
}

.namecard {
  box-shadow: none !important;
}

.footer-link-div {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}

.col-div {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.footer-header {
  font-weight: 500;
  color: black !important;
}

.footer-section {
  background-color: #fffeee !important;
}
